.Toolbar {
    height: 56px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #703b09;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    box-sizing: border-box;
    z-index: 90;
}

.box {
    flex: 1;
    display: flex;
    justify-content: center;
    margin: 0;
    height: 100%;
    box-sizing: border-box;
}

.logoBox {
    height: 80%;
    max-width: 100px;
}

.Toolbar nav {
    height: 100%;
    margin-left: auto;
}

.left {
    margin-right: auto;
}

@media (max-width: 516px) {
    .DesktopOnly {
        display: none;
    }
}